$color1: rgb(163, 162, 210);
$color2: rgb(76, 188, 201);
$color3: rgb(95, 95, 102);
$color4: rgb(75, 126, 224);
$break-small: 320px;
$break-large: 1200px;

header {
    grid-area: header;
    background-color: $color1;
    // @media screen and (min-width: $break-large) {
    //     grid-column: 1 / 3;
    // }
}

aside {
    grid-area: aside;
    background-color: $color2;
    // @media screen and (min-width: $break-large) {
    //     grid-row: 2 / span 1;
    // }
}

main {
    grid-area: main;
    background-color: $color3;
    // div {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     img {
    //         width: auto;
    //         height: 100/3%;
    //     }
    // }
}

footer {
    grid-area: footer;
    background-color: $color4;
    // @media screen and (min-width: $break-large) {
    //     grid-column: 1 / 3;
    // }
}

body {
    height: 100vh;
    display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: 50px auto auto 50px;
    // @media screen and (min-width: $break-large) {
    //     grid-template-columns: minmax(100px, 10%) auto;
    //     grid-template-rows: 50px auto 50px;
    // }
    grid-template-areas:
    "header"
    " main"
    "aside "
    "footer ";
}
@media screen and (min-width: $break-large) {
    body {
        grid-template-columns: minmax(100px, 20%) 80%;
        grid-template-rows: 50px auto 50px;
        // grid-auto-flow: column;
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    }
    footer,
    header {
        // grid-column: 1/3;
    }

    aside {
        // grid-row: 2/ span 1; !!!!!!! nononononocat !!!!!!
        // grid-column: 1/ span 1;
    }

    main {

    }
}
