$color1 : rgb(163, 162, 210);
$color2 : rgb(76, 188, 201);
$color3 : rgb(95, 95, 102);
$color4 : rgb(75, 126, 224);

$break-small: 320px;
$break-large: 1200px;

header{
    background-color: $color1;
    @media screen and (min-width: $break-large) {
        grid-column: 1 / 3;
    }
}
aside{
    background-color: $color2;
    @media screen and (min-width: $break-large) {
        grid-row: 2 / span 1;
    }
}
main {
    background-color: $color3;
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        img {
            width: auto;
            height: 100/3%;
        }
    }
}
footer {
    background-color: $color4;
    @media screen and (min-width: $break-large) {
        grid-column: 1 / 3;
    }
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto 50px;
    @media screen and (min-width: $break-large) {
        grid-template-columns: minmax(100px, 10%) auto;
        grid-template-rows: 50px auto 50px;
    }

}
